<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="/">
        <font color="white"> Angular Simple Crud</font>
      </a>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-8 mt-4">
          <ul class="list-group">
            <li
              *ngFor="let employye of employeeArray"
              class="list-group-item list-group-item-action" 
              (click)="openEdit(employye)"
              [class.active]="employye == selectedEmployee">

              <span class="badge badge-primary"
                ><font color="blue">{{ employye.id }}</font></span
              >{{ employye.name }} - {{ employye.country }}
            </li>
          </ul>
          <div class="card mt-4"></div>
          <div class="card-body">
            <div class="card-title">
              <font color="white">Insert a new employee</font>
            </div>
            <div class="form.group">
              <input
                type="text"
                [(ngModel)]="selectedEmployee.name"
                placeholder="Insert Name"
                class="form-control"
              />
            </div>

            <div class="form.group">
              <input
                type="text"
                [(ngModel)]="selectedEmployee.country"
                placeholder="Insert Country"
                class="form-control"
              />
              <br>
            </div>
            <button (click)="addOrEdit()" class="btn btm-primary" id="btm1">
              Submit
            </button>

            <button *ngIf="selectedEmployee.id !==0"
             class="btn btn-danger" id="btm2"
             (click)="delete()">
              Delete
            </button>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
            alt="Angular logo"
            width="300"
          />
        </div>
      </div>
    </div>
  </body>
</html>
